<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property resource="logback.properties"/>

    <appender name="dailyRollingFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${logdir}/${app.name}.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <FileNamePattern>${app.name}.%d{yyyy-MM-dd}.log</FileNamePattern>

            <!-- keep 30 days' worth of history -->
            <maxHistory>30</maxHistory>
        </rollingPolicy>

        <encoder>
            <Pattern>%d{HH:mm:ss.SSS} [%level] %logger: %msg%n</Pattern>
        </encoder>
    </appender>

    <logger name="name.zemon.david" level="DEBUG"/>
    <root>
        <level value="INFO"/>
        <appender-ref ref="dailyRollingFileAppender"/>
    </root>
</configuration>
